<% menu.comments.each do |comment| %>
  <div class="m-2">
      <%= link_to user_path(comment.user) do %>
        <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size:'50x50'%>
        <%= comment.user.name %>
      <% end %>
      :<%= comment.comm %>
      <% if comment.user == current_user %>
        <div class="text-left mt-2">
          <%= link_to '  削除する', menu_comment_path(comment.menu,comment), method: :delete, remote: true,class: 'btn btn-outline-danger fas fa-trash-alt py-2' %>
        </div>
      <% else %>
      <% end %>
  </div>
<% end %>

