
<div class="text-center m-5">
<h2>編集画面</h2>
  <div class=" table-bordered m-5">
    <div class="m-4">
      <%= attachment_image_tag @menu, :image,:fill, 350, 300,fallback: "no_image.jpg",size:'350x300' %>
    </div>
      <%= form_with(model: @menu, local: true) do |f| %>
        <p><%= f.attachment_field :image %></p>
        <h4>題名</h4>
        <p><%= f.text_field :title, size:"100x10" %></p>
        <h4>本文</h4>
        <p><%= f.text_area :body, size:"100x10" %></p>
        <p><%= f.submit '投稿' %></p>
      <% end %>
  </div>
</div>