
<div class="text-center m-5">
<h2>編集画面</h2>
  <%= render 'layouts/error', menu: @menu %>
  <div class=" table-bordered m-5">
    <div class="m-4">
      <%= attachment_image_tag @menu, :image,:fill, 350, 300,fallback: "no_image.jpg",size:'350x300' %>
    </div>
      <%= form_with(model: @menu, local: true) do |f| %>
        <p><%= f.attachment_field :image %></p>
        <h4>題名</h4>
        <p><%= f.text_field :title,placeholder: "題名を入力(20文字以内)",class:'edita m-3' %></p>
        <h4>本文</h4>
        <p><%= f.text_area :body,placeholder: "本文を入力(300文字以内)",class:'edit m-3' %></p>
        <div class="m-5">`
          <p><%= f.submit '更新する',class: 'btn  btn-block btn-warning' %></p>
        </div>
      <% end %>
  </div>
</div>