<div class="text-center m-5">
<h4>投稿画面</h4>
  <div class=" table-bordered m-5">
    <%= form_with model: @menu, local:true do |f| %>
      <h4>画像</h4>
      <p><%= f.attachment_field :image %></p>
      <h4>題名</h4>
      <p><%= f.text_field :title, size:"100x10" %></p>
      <h4>本文</h4>
      <p><%= f.text_area :body, size:"100x10" %></p>
      <p><%= f.submit '投稿' %></p>
    <% end %>
  </div>
</div>