<div class="container">
    <div class="text-center m-5">
      <h2>詳細画面</h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-6 col-xs-12 ">
        <table class="table">
          <p><%= attachment_image_tag @menu, :image,class: 'showImage' %></p>
            <ul style="display:flex;list-style:none;gap:8px;">
              <% @menu.tags.each do |tag| %>
              <li style="padding:2px 6px;background-color: #eeeeee;border-radius: 4px;"><%= tag.name %></li>
              <% end %>
            </ul>
            <% if @menu.user == current_user %>
            <div class="text-center">
              <P>
                <%= link_to "  編集する",edit_menu_path(@menu),class: 'btn btn-warning mr-5 w-50 fas fa-pen-nib py-2' %>
                <%= link_to "  削除する",menu_path(@menu),method: :delete, data: { confirm: '本当に消しますか？' },class:'btn btn-outline-danger fas fa-trash-alt py-2' %>
              </p>
            </div>
              <% else %>
              <% end %>
        </table>
      </div>
      <div class="col-lg-6 col-xl-6 col-xs-12 ">
        <table  class="table text-center" >
              <tr>
                <th>投稿者</th>
              </tr>
              <tr>
                <td>
                  <%= link_to user_path(@menu.user) do %>
                    <%= attachment_image_tag @menu.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size:'50x50'%>
                    <%= @menu.user.name %>
                  <% end %>
                </td>
              </tr>

              <tr>
                <th>題名</th>
              </tr>
              <tr>
                <td><%= @menu.title %></td>
              </tr>
              <tr>
                <th>本文</th>
              </tr>
              <tr>
                <td><%= @menu.body %></td>
              </tr>
        </table>
        <table  class="table text-center" >
          <tr>
            <th>
              <div class="m-3">
                <p id='lik<%= @menu.id %>'>
                  <%= render "likes/like", menu: @menu %>
                </p>
              </div>
            </th>
          </tr>
        </table>
      </div>
    </div>
  </div>
    <div class="container">
     <div class="row">
      <div class="col-lg-6 col-xl-6 col-xs-12">
        <div class="text-center m-5">
          <h2>地図</h2>
          <div class="show__maps" id="show_map" style="height: 400px; width: 100%;"></div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-xs-12 ">
        <div class="text-center m-5">
          <h2>コメント</h2>
        </div>
        <div class="ml-5">
          <div id="comment_a_">
            <%= render "menus/comment", menu: @menu,comment: @comment %>
          </div>
        </div>
        <div class="m-5">
          <%= form_with(model:[@menu, @comment], remote: true) do |f| %>
            <p><%= f.text_area :comm, rows:'5',placeholder: "コメントをここに" %></p>
            <p><%= f.submit '送信する',class: 'btn btn-warning' %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
