<div class="container">
    <div class="text-center mt-3">
      <h2>詳細画面</h2>
    </div>
     <div class="row">
         <div class="col-7 mt-3">
            <table class="table">
                <%= attachment_image_tag @menu, :image,:fill, 550, 400 %>
              <!-- 地図機能 -->
              <h2>マップ</h2>

              <input id="address" type="textbox" value="Sydney, NSW">

              <input type="button" value="Encode" onclick="codeAddress()">
                <div id='map'></div>

                <style>
                  #map{
                    width: 550px;
                    height: 400px;
                  }
                </style>

                <script>


                    let map
                    let geocoder

                    function initMap(){
                      // geocoderを初期化
                      geocoder = new google.maps.Geocoder()

                      map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: -34.397, lng: 150.644},
                      zoom: 8
                      });
                    }

                    function codeAddress(){
                      let inputAddress = document.getElementById('address').value;

                      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
                        if (status == 'OK') {
                          map.setCenter(results[0].geometry.location);

                          var marker = new google.maps.Marker({
                              map: map,
                              position: results[0].geometry.location
                          });
                        } else {
                          alert('Geocode was not successful for the following reason: ' + status);
                        }
                      });
                    }
                    </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW3n-aq5zT45SmJRVDehrkXQX2eMVgAG0&callback=initMap" async defer></script>


              </table>
          </div>
            <div class="col-4 mt-3">
               <table  class="table table-bordered text-center" >
                 <thead>
                    <tr>
                      <th>投稿者</th>
                      <td>
                        <%= link_to user_path(@menu.user) do %>
                          <%= attachment_image_tag @menu.user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg",size:'50x50'%>
                          <%= @menu.user.name %>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th>題名</th>
                      <td><%= @menu.title %></td>
                    </tr>

                      <th>説明</th>
                      <td><%= @menu. body %></td>
                  </thead>
                  <tbody>
                      <% if @menu.user == current_user %>
                                <%= link_to "編集する",edit_menu_path(@menu) %>
                                <%= link_to "削除する",menu_path(@menu),method: :delete %>
                      <% else %>
                      <% end %>
                      <div class="text-center">
                        <p id='lik<%= @menu.id %>'>
                            <%= render "likes/like", menu: @menu %>
                        </p>
                      </div>
                      <div id="comment_a_">
                        <%= render "comments/comment", menu: @menu,comment: @comment %>
                      </div>
                      <%= form_with(model:[@menu, @comment], remote: true) do |f| %>
                        <%= f.text_area :comm, rows:'5',placeholder: "コメントをここに" %>
                        <%= f.submit "送信する" %>
                      <% end %>
                  </tbody>
              </table>
            </div>
          </div>
      </div>
  </div>
