 <div class="text-center m-5">
      <h2>いいね一覧画面</h2>
    </div>
<div class=container>
  <div class="row">
    <% @liked.each do |like| %>
      <div class ="m-2">
        <div class="table-bordered" >
            <%= link_to menu_path(like) do %>
              <%= attachment_image_tag like, :image, class: 'indexImage' %>
              <div class="text-center">
                <p><%= like.title %></p>
            <% end %>
              コメント数：<%= like.comments.count %>
              いいね数:<%= like.likes.count %>
              </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
