<div class="container">
  <div class="row">
      <table  class="table table-bordered text-center" >
        <div class="text-center">
          <tr>
            <th>プロフィール画像</th>
            <td><%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "no_image.jpg",size:'300x300'%></td>
          </tr>
          <tr>
            <th>名前</th>
            <td><%= @user.name %></d>
          </tr>
          <tr>
            <th>紹介文</th>
            <td><%= @user.introduction %></d>
          </tr>
          <tr>
            <th>編集する</th>
            <td><%= link_to '編集',edit_user_path(@user) %></td>
          </tr>
          <th>いいね一覧</th>
            <td><%= link_to 'いいね一覧',likes_user_path(@user) %></td>
        </div>
      </tabel>
         <% @menus.each do |menu| %>
            <%= link_to menu_path(menu) do %>
              <%= attachment_image_tag menu, :image,:fill, 250, 200,fallback: "no_image.jpg",size:'250x200' %></p>
              <p><%= menu.title %></p>
            <% end %>
              <P><%= menu.body %></P>

         <% end %>
      </div>
  </div>
