<div class="container">
  <div class="text-center m-5">
    <h2>マイページ</h2>
  </div>
  <div class="row">
    <div class="col-lg-7 col-xl-5 col-xs-12">
      <div class="text-center">
        <p><%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg",size:'300x300'%></p>
        <% if @user == current_user %>
          <p><%= link_to '  編集する',edit_user_path(@user),class: "btn btn-outline-dark w-50 fas fa-user py-2"  %></p>
          <p><%= link_to '  いいね一覧',likes_user_path(@user),class: "btn btn-outline-info w-50 fas fa-heart py-2" %></p>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class=" col-lg-6 col-xl-6 col-xs-12 ">
      <div class="text-center">
        <table class="table">
          <tr>
            <th>名前</th>
          </tr>
          <tr>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>紹介文</th>
          </tr>
          <tr>
            <td><%= @user.introduction %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="text-center m-5">
    <h2>『<%= @user.name %>』投稿一覧</h2>
  </div>
<div class=container>
  <div class="row">
    <% @menus.each do |menu| %>
      <div class ="m-2">
        <div class="table-bordered" >
            <%= link_to menu_path(menu) do %>
              <%= attachment_image_tag menu, :image, class: 'indexImage' %>
              <div class="text-center">
                <p><%= menu.title %></p>
            <% end %>
              コメント数：<%= menu.comments.count %>
              いいね数:<%= menu.likes.count %>
              </div>
          </div>
        </div>
    <% end %>
  </div>
</div>



